.main {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  margin: auto;
}

.mainSection {
  grid-column: span 2;
}

@media (min-width: 48rem) {
  .main {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    max-width: 48rem;
  }
}

@media (min-width: 60rem) {
  .main {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    max-width: 72rem;
  }
}
